@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ASM.Models.Product>
@{
    var soluong = Model.Count;
    ViewData["TiTle"] = "Shop - " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
}
<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/banner/collection_banner.webp">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h1 class="breadcrumb-heading">Danh sách sản phẩm</h1>
                        <ul>
                            <li>
                                <a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>DANH SÁCH SẢN PHẨM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <!-- open -->
                <div class="col-lg-3 order-lg-1 order-2 pt-10 pt-lg-0">
                    <div class="sidebar-area">
                        <div class="widgets-searchbox mb-9">
                            <form id="widgets-searchbox" action="#">
                                <input class="input-field" type="text" placeholder="Search" id="search-input">
                                <button class="widgets-searchbox-btn" type="submit">
                                    <i class="pe-7s-search"></i>
                                </button>
                            </form>
                        </div>

                        <!-- Thêm combobox để hiển thị danh sách danh mục -->
                        <select id="category-filter" style="width:100%;height:50px">
                            <option value="">All Categories</option>
                            @{
                                DMMContext db = new DMMContext();
                                List<Category> lstCate = db.Categories.ToList();
                                foreach (var item in lstCate)
                                {
                                    <option value="@item.CateId">@item.CateName</option>
                                }
                            }
                        </select>
                        <br>
                        <br>
                        <br>

                        <div class="d-md-flex">
                        </div>

                        <div class="widgets-area mb-9">
                            <h2 class="widgets-title mb-5">Refine By</h2>

                            <div class="widgets-item">
                                <ul class="widgets-checkbox">
                                    @{
                                        DMMContext dbContext = new DMMContext();
                                        // Truy vấn cơ sở dữ liệu để lấy tổng số lượng sản phẩm sale của cửa hàng
                                        int totalSaleProducts = dbContext.Products.Count(p => p.Discount > 0);
                                    }

                                    <li>
                                        <input class="input-checkbox" type="checkbox" id="refine-item">
                                        <label class="label-checkbox mb-0" for="refine-item">
                                            On Sale
                                            <span id="mySpan">@totalSaleProducts</span>
                                        </label>
                                    </li>

                                </ul>
                            </div>

                        </div>

                        <div class="widgets-area widgets-filter mb-9">
                            <h2 class="widgets-title mb-5">Price Filter</h2>
                            <div class="price-filter">
                                <div id="slider-range"></div>
                                <div class="price-slider-amount">
                                    <div class="label-input position-relative">
                                        <label>price : </label>
                                        <input style="width:100%" type="text" id="amount" name="price" placeholder="Add Your Price" />
                                    </div>
                                </div>
                            </div>
                            @{
                                // Chuyển đổi danh sách sản phẩm thành JSON
                                var productListJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
                            }
                            <script>
                                // Nhúng danh sách sản phẩm vào biến JavaScript
                                var productList = @Html.Raw(productListJson);
                            </script>

                        </div>

                        <form id="filter-form" action="https://localhost:44391/shop.html" method="get">
                            <!-- Các phần lọc nằm trong form ở đây -->
                            <!-- Button "Clear" để reset các giá trị lọc -->
                            <button type="submit" class="btn btn-primary btn-secondary-hover">Clear</button>
                        </form>

                        <hr>

                    </div>
                </div>
                <!-- end -->
                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="product-topbar">
                        <ul>
                            <ul class="nav" role="tablist">
                                <li class="grid-view" role="presentation">
                                    <a class="active spaced-icon" id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                        <i class="fa fa-th"></i>
                                    </a>
                                </li>
                                <li class="list-view" role="presentation">
                                    <a class="spaced-icon" id="list-view-tab" data-bs-toggle="tab" href="#list-view" role="tab" aria-selected="false">
                                        <i class="fa fa-th-list"></i>
                                    </a>
                                </li>
                            </ul>


                            <script>
                                document.addEventListener("DOMContentLoaded", function () {
                                    // Tìm tab "grid-view" và "list-view"
                                    var gridViewTab = document.getElementById("grid-view-tab");
                                    var listViewTab = document.getElementById("list-view-tab");

                                    // Tìm nội dung tương ứng với các tab
                                    var gridViewContent = document.getElementById("grid-view");
                                    var listViewContent = document.getElementById("list-view");

                                    // Khi tải trang, thêm lớp active vào tab "grid-view" và lớp show active vào nội dung "grid-view"
                                    gridViewTab.classList.add("active");
                                    gridViewContent.classList.add("show", "active");

                                    // Bắt sự kiện click vào tab "grid-view" để thay đổi lớp active và show active
                                    gridViewTab.addEventListener("click", function () {
                                        gridViewTab.classList.add("active");
                                        listViewTab.classList.remove("active");
                                        gridViewContent.classList.add("show", "active");
                                        listViewContent.classList.remove("show", "active");
                                    });

                                    // Bắt sự kiện click vào tab "list-view" để thay đổi lớp active và show active
                                    listViewTab.addEventListener("click", function () {
                                        listViewTab.classList.add("active");
                                        gridViewTab.classList.remove("active");
                                        listViewContent.classList.add("show", "active");
                                        gridViewContent.classList.remove("show", "active");
                                    });
                                });
                            </script>
                            <li class="page-count">
                                <marquee direction="up"><h2>Poly Figure hân hạnh phục vụ</h2></marquee>



                            </li>
                            <li class="short">

                            </li>
                        </ul>
                    </div>
                    @* Hoàng-listSp*@
                    <!-- open -->
                    <div id="product-list">
                        <div class="tab-content text-charcoal pt-8">
                            <div class="tab-pane fade" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                                <div class="product-grid-view row">
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            string url = $"/{item.Alias}-{item.ProductId}.html";
                                            <div class="col-lg-4 col-sm-6 product-item @(item.Discount > 0 ? "on-sale" : "")" data-category-id="@item.CateId">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" src="~/images/products/@item.Img" alt="@item.Title">
                                                    </a>
                                                    @if (item.Discount > 0)
                                                    {
                                                        <div class="sale-badge">Sale</div>
                                                    }
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="@url">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="@url">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        @if (item.BestSellers == true)
                                                        {
                                                            <span class="new-price ">
                                                                <b class="text-danger"> @item.Discount.Value.ToString("#,##0") VNĐ</b>
                                                                <br>
                                                            </span>
                                                            <strike>@item.Price.Value.ToString("#,##0") VNĐ</strike>

                                                        }
                                                        else
                                                        {
                                                            <span class="new-price ">
                                                                <b class="text-danger"> @item.Price.Value.ToString("#,##0") VNĐ</b>
                                                            </span>
                                                        }
                                                    </div>
                                                    <div class="rating-box">
                                                        <p> @item.Description</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade show " id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                                <div class="product-list-view with-sidebar row">
                                    @if (Model != null && Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            string url = $"/{item.Alias}-{item.ProductId}.html";
                                            <div class="col-12 pt-6 product-item @(item.Discount > 0 ? "on-sale" : "")" data-category-id="@item.CateId">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="@url">
                                                        <img class="img-full" src="~/images/products/@item.Img" alt="@item.Title">
                                                    </a>
                                                    @if (item.Discount > 0)
                                                    {
                                                        <div class="sale-badge">Sale</div>
                                                    }
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="@url">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content align-self-center">
                                                    <a class="product-name pb-2" href="@url">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        @if (item.BestSellers == true)
                                                        {
                                                            <span class="new-price ">
                                                                <b class="text-danger"> @item.Discount.Value.ToString("#,##0") VNĐ</b>
                                                                <br>
                                                            </span>
                                                            <strike>@item.Price.Value.ToString("#,##0") VNĐ</strike>

                                                        }
                                                        else
                                                        {
                                                            <span class="new-price ">
                                                                <b class="text-danger"> @item.Price.Value.ToString("#,##0") VNĐ</b>
                                                            </span>
                                                        }
                                                    </div>
                                                    <div class="rating-box pb-2">
                                                        <p>@item.Description</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Script JavaScript -->


                    <style>
                        .spaced-icon {
                            margin-right: 10px; /* Điều chỉnh khoảng cách tùy ý */
                        }

                        .sale-badge {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            background-color: red;
                            color: white;
                            padding: 5px 10px;
                            font-size: 12px;
                            font-weight: bold;
                        }

                        .product-item {
                            display: block;
                            margin-bottom: 20px;
                        }

                            .product-item.on-sale .product-content::before {
                                content: "Sale";
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                background-color: red;
                                color: white;
                                padding: 5px 10px;
                                font-size: 12px;
                                font-weight: bold;
                            }

                    </style>
                    <!-- end -->
                    <div class="pagination-area pt-10">
                        <ul class="pagination justify-content-center">
                            <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" asp-area="" asp-controller="Product" asp-action="Index" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->