@model ASM.ModelViews.XemDonHang
@{
    var total = Model.ChiTietDonHang.Sum(x => x.TotalMoney).Value.ToString("#,##0");
    var TongTien = Model.DonHang.TotalMoney.Value.ToString("#,##0");
    //var discount = Model.DonHang.Voucher.DiscountValue.ToString("#,##0");
}
<h3>Thông tin đơn hàng: #@Model.DonHang.OderId</h3>
<br />
<p><b>Ngày đặt hàng:</b> &emsp; @Model.DonHang.OderDate</p>
<p><b>Ngày ship hàng:</b> &emsp; @Model.DonHang.ShipDate</p>
<p><b>Trạng thái đơn hàng:</b>  &emsp;@Model.DonHang.TransactStatus.Status</p>
<p><b>Giảm giá:</b>  &emsp;
   @if (Model.DonHang.VoucherId != null)
   {
        <text>Đã áp dụng mã voucher  </text>
   }
    else
    {
        <text>Không áp dụng mã voucher</text>
    }
</p>
<p ><b>Tổng giá trị đơn hàng:</b>  &emsp; @TongTien VNĐ</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>

            @foreach (var item in Model.ChiTietDonHang)
            { 
                var check = @item.Discount > 0 ? item.Discount : item.Price;
                var tontien = @item.Amount * @check;
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Amount</td>
                    <td>
                        @if (item.Product.Discount != null)
                        {
                           @item.Product.Discount.Value.ToString("#,##0")
                        }
                        else
                        {
                            @item.Product.Price.Value.ToString("#,##0")
                        }
                      VNĐ</td>
                    <td >@tontien.Value.ToString("#,##0") VNĐ</td>
                </tr>
            }
        </tbody>
    </table>
   
</div>

