@model IEnumerable<ASM.Models.Role>

@{
    ViewData["Title"] = "Quản lý quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item" href="#">Quản lý hệ thống</span>
            <a class="breadcrumb-item active" href="#">Quản lý quyền truy cập</a>
        </nav>
    </div>
</div>
<div class="row m-b-30">
    <div class="col-lg text-right">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminRoles" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm mới</span></a>
    </div>
    
</div>
<div class="table-responsive" style="text-align:center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Mô tả</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.RoleId</th>
                        <td>@item.RoleName</td>
                        <td>@item.RoleDescription</td>
                        <td>
                            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Details" asp-route-id="@item.RoleId" class="btn btn-info m-r-5">Chi tiết</a>
                            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@item.RoleId"class="btn btn-warning m-r-5">Chỉnh sửa</a>
                            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Delete" asp-route-id="@item.RoleId"class="btn btn-danger m-r-5">Xóa</a>
                        
                        </td>
                    </tr>
                }

            }

        </tbody>
    </table>
</div>
